:root {
    --black-color: #000000;
    --white-color: #FFFFFF;
    --red-color: #D0060E;
    --accent-color: #315DF9;
    --active-color: #315DFA;
    --main-color: #343B4D;
    --header-color: #AFDCE5;
    --header-bg-color: #315DFA;
    --answer-bg-color: #f3f4f8;
    --btn-bg-color: #315DFA;
    --btn-bg-color-hover: #355ADF;
    --radio-btn-border: #D6D6D6;
    --radio-btn-select: #291A0E;
    --footer-color: #D6D6D6;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--white-color);
    color: var(--main-color);
    font-size: 14px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }
}

@media screen and (min-width: 375px) {
    .container {
        width: 375px;
        padding-left: 22px;
        padding-right: 24px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding-left: 72px;
        padding-right: 73px;
    }
}

.header {
    min-width: 100%;
    height: 57px;
    background-color: var(--header-bg-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding-top: 14px;
    margin-bottom: 10px;
    max-width: 1920px;
}

@media screen and (min-width: 768px) {
    .header {
        height: 65px;
        margin-bottom: 16px;
    }
}

.header__title {
    color: var(--header-color);
    font-size: 17px;
    font-weight: 700;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    .header__title {
        font-size: 20px;
        line-height: 22px;
    }
}

.header__description {
    color: var(--header-color);
    font-size: 10px;
    font-weight: 700;
    line-height: 16px;
}

@media screen and (min-width: 768px) {
    .header__description {
        font-size: 16px;
        line-height: 22px;
    }
}

.page__image-wrapper {
    position: relative;
    margin-bottom: 10px;
}

.page__image {
    min-width: 287px;
    max-width: 100%;
}

@media screen and (min-width: 375px) {
    .page__image {
        width: 329px;
        margin-bottom: 18px;
    }
}

@media screen and (min-width: 768px) {
    .page__image {
        width: 623px;
        margin-bottom: 34px;
    }
}

.page__image-zodiac {
    position: absolute;
    top: -1px;
    left: 7px;
    width: 146px;
    max-width: 100%;
}

@media screen and (min-width: 375px) {
    .page__image-zodiac {
        width: 167px;
    }
}

@media screen and (min-width: 768px) {
    .page__image-zodiac {
        width: 315px;
        top: -2px;
        left: 16px;
    }
}

.page__title {
    color: var(--accent-color);
    font-size: 17px;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 9px;
}

@media screen and (min-width: 768px) {
    .page__title {
        font-size: 20px;
        margin-bottom: 22px;
    }
}

.page__text {
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 15px;
}

@media screen and (min-width: 375px) {
    .page__text {
        margin-bottom: 16px;
    }
}

@media screen and (min-width: 768px) {
    .page__text {
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 47px;
    }
}

.question__progress {
    position: relative;
    width: 100%;
    height: 8px;
    background-color: var(--answer-bg-color);
    box-shadow: inset 0 4px 2px 0 rgba(0, 0, 0, 0.1);
    margin: 25px 0;
}

.question__progress-load {
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    background-color: #b53e42;
}

.question__progress-hidden {
    display: none;
}

.question__wrapper {
    background-color: var(--main-color);
    padding: 15px 21px;
}

@media screen and (min-width: 375px) {
    .question__wrapper {
        padding: 16px 41px;
    }
}

@media screen and (min-width: 768px) {
    .question__wrapper {
        padding: 30px 80px;
    }
}

.question__title {
    color: var(--white-color);
    font-weight: 700;
    line-height: 22px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .question__title {
        font-size: 20px;
    }
}

.answer__wrapper{
    background-color: var(--answer-bg-color);
    margin-bottom: 14px;
}

.answer__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 25px;
    color: var(--black-color);
    font-weight: 400;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    .answer__list {
        font-size: 16px;
        padding-left: 96px;
        padding-right: 96px;
    }
}

.answer__column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 25px 27px;
}

@media screen and (min-width: 768px) {
    .answer__column {
        font-size: 16px;
        padding-left: 51px;
        padding-right: 51px;
    }
}

.answer__column-birthday {
    align-items: center;
    padding-bottom: 0;
}

.answer__item:not(:last-child) {
    margin-bottom: 30px;
}

.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 3px 0 0 -9px;
}

.radio+label {
    position: relative;
    padding: 14px;
    cursor: pointer;
}

.radio+label:before {
    content: '';
    position: absolute;
    top: 15px;
    left: -10px;
    width: 15px;
    height: 15px;
    border: 1px solid var(--radio-btn-border);
    border-radius: 50%;
    background: var(--white-color);
}

@media screen and (min-width: 768px) {
    .radio+label:before {
        top: 9px;
        left: -34px;
        width: 28px;
        height: 28px;
    }
}

.radio+label:after {
    content: '';
    position: absolute;
    top: 20px;
    left: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: var(--radio-btn-select);
    opacity: 0;
}

@media screen and (min-width: 768px) {
    .radio+label:after {
        top: 18px;
        left: -25px;
        width: 10px;
        height: 10px;
    }
}

.radio:checked+label:after {
    opacity: 1;
}

.radio:checked+label {
    color: var(--accent-color);
    font-weight: 700;
}

.select {
    position: relative;
    border: 1px solid #e4e4e4;
    background: url('../images/Back.png') no-repeat;
    background-position: center right 9px;
    background-color: var(--white-color);
    appearance: none;
    cursor: pointer;
    width: 186px;
    height: 45px;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding-left: 17px;
    margin-bottom: 15px;
}

/* .select:optional:not(:first-child) {
    font-weight: 700;
    color: var(--active-color);
} */

/* .select__option:not(:first-child) {
    font-weight: 700;
    color: var(--active-color);
} */

.select:last-child {
    margin-bottom: 0;
}

.zodiac__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 28px;
}

.birthday__message {
    display: block;
    text-align: center;
    padding: 8px 29px 6px;
    margin-top: 37px;
    width: 233px;
    height: 36px;
    background-color: #FFD8CF;
    color: var(--red-color);

    font-size: 13px;
    font-weight: 300;
    line-height: 22px;
}

@media screen and (min-width: 768px) {
    .birthday__message {
        width: 283px;
        font-size: 15px;
    }
}

.zodiac__image {
    display: flex;
    justify-content: center;
}

.zodiac__name {
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    color: var(--black-color);
}

@media screen and (min-width: 768px) {
    .zodiac__name {
        font-size: 13px;
    }
}

.results__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--main-color);
    margin-top: 34px;
    margin-bottom: 19px;
}

.results__progress {
    position: relative;
    width: 100%;
    height: 42px;
    background-color: var(--answer-bg-color);
    margin-bottom: 26px;
}

.results__progress-load {
    position: absolute;
    top: 0;
    left: 0;
    height: 42px;
    width: 100%;
    background-color: #419330;
}

.results__progress-percent {
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: var(--white-color);
}

.results__list {
    margin-bottom: 37px;
}

.results__item {
    display: flex;
    justify-content: space-between;
    text-align: baseline;
    margin-bottom: 20px;
}

.results__item:last-child {
    margin-bottom: 0;
}

.results__steap {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: var(--main-color);
}

.results__success {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    color: #419330;
}

.results__success-red {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--red-color);
    text-transform: uppercase;

}

.results__ready {
    display: block;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: var(--main-color);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.finish {
    margin-bottom: 19px;
}

.finish__thanks {
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    color: var(--main-color);
    margin-top: 34px;
    margin-bottom: 19px;
}

.finish__congratulations {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: var(--active-color);
    margin-bottom: 19px;
}

.finish__title {
 font-size: 18px;
 font-weight: 500;
 line-height: 19px;
 color: var(--main-color);
}

.finish__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    margin-bottom: 29px;
}

.finish__text:last-child {
    margin-bottom: 0;
}

.table {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ========================================== */

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: var(--active-color);
    border: none;
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 9px;
}

.btn:hover {
    border: 1px solid var(--btn-bg-color);
    background-color: var(--btn-bg-color-hover);
    box-shadow: inset 0 4px 10px 0 rgba(0, 0, 0, 0.3);
}

.next__button {
    width: 186px;
    height: 45px;
}

.call__button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 288px;
    height: 45px;
}

.call__button-icon {
    position: absolute;
    top: 9px;
    left: 18px;
}

.footer__copy {
    display: block;
    text-align: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 22px;
    color: var(--footer-color);
}

@media screen and (min-width: 768px) {
    .footer__copy {
        font-size: 12px;
    }
}
